/* ========================
Banner Section
============================*/
.banner{
  position: relative;
}
.banner img{
  height: 208px;
  border-top-right-radius: 60px;
}
.banner .txt{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.banner .txt h1{
  font-weight: 250;
  font-size: 47px;
  color: #FFF;
}
.banner .txt p{
  margin-top: 13px;
  font-weight: 300;
  font-size: 16px;
  color: #FFF;
}
/* ========================
Description Section
============================*/
.descrip{
  padding: 86px 0 93px 0;
  display: flex;
  justify-content: space-between;
}
.descrip > .left{
  width: 22%;
  height: fit-content;
  margin-left:3px ;
  padding: 15px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.19);
box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.19);
}
.descrip > .left .parrent > li{
  margin-top: 24px;
 padding-bottom: 30px;
 border-bottom: 1px solid rgba(0, 0, 0, .5);
 cursor: pointer;
}
.descrip > .left .parrent > li  a{
  font-weight: 400;
  size: 18px;
}
.descrip > .left .parrent > li:first-child{
 border-bottom: 2px solid #3468C0;
}
.descrip > .left .parrent > li:last-child{
 border-bottom: none
}
.descrip > .left .child{
  margin-top:10px;
}
.descrip > .left .child li{
cursor: pointer;
padding: 5px 0px;
}
.descrip > .left .child li a{
font-weight: 300;
font-size: 16px;
}
.descrip .right{
  width: 70%;
}
.descrip .right > p{
 width: 300;
 tab-size: 16px;
 line-height: 24px;
 color: #3C3C3C;
}
.descrip .right .img-list{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.descrip .right .img-list .left-list{
  width: 360px;
}
.descrip .right .img-list .left-list h6{
  font-weight: 400;
  font-size: 22px;
  color: #141515;
}
.descrip .right .img-list .left-list p{
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #3C3C3C;
  margin-bottom: 36px;
}
.descrip .right .img-list .left-list ul{
  margin-top: 13px;
  list-style-type: disc;
}
.descrip .right .img-list .left-list ul li::marker{
  color: #D3F0D4;
 font-size: 22px;
}
.descrip .right .img-list .left-list ul li{
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #3C3C3C;
  margin-bottom: 14px;
}
.descrip .right .img-list .left-list ul li b{
font-weight: 500;
}
.descrip .right .right-img img{
  width: 421px;
  height: 504px;
}
/* ========================
Para Section
============================*/
.para h6{
  font-weight: 400;
  font-size: 22px;
  color: #141515;
}
.para p{
  margin-top: 14px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #3C3C3C;
}
.para p b{
  font-weight: 500;
}
.para-parent{
  position: relative;
}
.para-rain{
  position: absolute;
  top: -334px;
  right: 0;
  width: 335px;
  height: 626px;
  z-index: 22;
}
/* ========================
togle showing
============================*/
.showing{
  padding: 100px 0px;
  position: relative;
}
.showing h1{
  font-weight: 200;
  font-size: 45px;
  color: #141515;
  margin-bottom: 38px;
}

.showing .switch{
  display: none;
}
.showing section{
  border-bottom: 1px solid #3468C0;
}
.showing .accordion {
  padding: 32px;
}

.showing .accordion-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
/* .accordion-panel[expanded]{
  background-color: red;
} */
.showing .accordion-toggle h2{
  font-weight: 400;
  font-size: 22px;
}
.showing .btn-icon img{
  width: 24px;
  height: 24px;
}
.accordion:has(.accordion-panel[expanded]) img {
  rotate: 180deg;
}
.accordion-panel {
  
}

.accordion-drawer {
  color: var(--primary-dark);
  background-color: var(--accent-light);
  overflow: hidden;
}

/* Additional div to add padding to the content without messing with the animation. */
.accordion-content {
 p {
  margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}

.showing-rainbow{
  position: absolute;
  top: 103px;
  left: 0;
  width: 243px;
  height: 429px;
  z-index: -10;
}
/* ========================
Profile section
============================*/
.profile{
  padding-bottom: 150px;
}
.profile h2{
  font-weight: 250px;
  font-size: 45px;
}
.profile .items{
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}
.profile .item{
width: 389px;
}
.profile .item img{
width: 100%;
height: 228px;
}
.profile .item .title{
 margin-top: 12px;
 font-weight: 400;
 font-size: 22px;
 color: #141515;
 height: 68px;
}
.profile .item .more{
  margin-top: 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.profile .item .more a{
  font-weight: 700;
  font-size: 14px;
  margin-right: 15px;
  color: #3468C0;
}
.profile .item .more img{
  width: 16px;
  height: 16px;
}
/* ========================
Link showing
============================*/
.link{
  padding-bottom: 128px;
}
.link h2{
  font-weight: 250;
  font-size: 45px;
  color: #141515;
}
.link .situ{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 38px;
  margin-bottom: 3px;
  display: grid;
  grid-template-columns: 599px 599px;
  justify-content: space-between;
  row-gap:32px;
}
.link .situ .item{
  height: 144px;
  display: flex;
  align-items: center;
  padding-left: 44px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.09);
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.09);
}
.link .situ .item:hover{
  background-color: #D3F0D4;
}
.link .item img{
  width: 50px;
  height: 50px;
  margin-right: 29px;
 
}
.link-parent{
  position: relative;
}
.link-rainbow{
  position: absolute;
    right: 0;
    top: -148px;
    width: 502px;
    height: 697px;
    z-index: -1;
}
/* ========================
clients section
============================*/
.clients{
  padding-bottom: 143px;
}
.clients h2{
  font-weight: 250px;
  font-size: 45px;
  color: #141515;
}
.clients .client{
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}
.clients .item{
  width: 389px;
}
.clients .item img{
 width: 100%;
 height: 288px; 
}
.clients .item .first{
margin-top: 28px;
}
.clients .item .second{
margin-top: 75px;
}
.clients .item h6{
  font-weight: 400;
  font-size: 22px;
  color: #141515;
}
.clients .item p{
  font-weight: 300;
  font-size: 16px;
  margin-top: 5px;
}
.clients .item .tel{
  margin-top: 21px;
}
.clients .item .tel li{
  margin-bottom: 8px;
  cursor: pointer;
}
.clients .item .tel li img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.clients .item .tel li span{
  font-weight: 400;
  font-size: 18px;
}