/* ========================
Custom Css
@author: Nurislam Mridha
============================*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ========================
Common Style
============================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {}
  a,
  a:hover,
  a:focus,
  a:active {
      text-decoration: none;
      outline: none;
  }
  
  a,
  a:active,
  a:focus {
      color: #333;
      text-decoration: none;
      transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-duration: .2s;
      -ms-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -o-transition-duration: .2s;
  }
  
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  img {
  max-width: 100%;
  height: auto;
  }
.container{
    width: 1230px;
    margin: auto;
    overflow: hidden;
}
  /* .cd{
    background-color: red;
  }
  .ts{
    background-color: aqua;
  } */
/* ========================
Header Section
============================*/

.header-top{
    background-color: #D4F0D4;
}
.header-top ul{
    display: flex;
    padding: 10px 0;
}
.header-top ul li{
    cursor: pointer;
    font-size: 16px;
    margin-right: 16px;

}
.header-bottom{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
}
.header-bottom .logo{
    width: 97px;
    height: 93.44px;
    cursor: pointer;
}
.header-bottom .logo img{
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}
.header-bottom .logo:hover img{
    transform:scale(1.2);  
}
.header-bottom .navs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-bottom .navs .top{
    /* background-color: red; */
}
.header-bottom .navs .top ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-bottom .navs .top ul li{
   cursor: pointer;
   margin-right: 18px;
   transition:.3s ease;
}
.header-bottom .navs .top ul li:hover {
    /* transform: scale(1.02) translateY(-0.3rem); */
}
.header-bottom .navs .top ul li a{
    font-size: 16px;
}
.header-bottom .navs .top ul li img{
    width: 22px;
    height: 22px;
    margin-left: 8px;
}
.header-bottom .navs .search{
    margin-right: 18px;
}
.header-bottom .navs .bottom{
    /* background-color: aqua; */
    /* margin-top: 33px; */
}
.header-bottom .navs .bottom ul{
    display: flex;
    align-items: center;
}
.header-bottom .navs .bottom ul li{
    margin-left: 41px;
    cursor: pointer;
    transition:.3s ease;
}
.header-bottom .navs .bottom ul li:hover{
    transform: scale(1.02) translateY(-0.3rem);
}
.header-bottom .navs .bottom ul li a{
    font-size: 18px;
}
.scroll-header{
  width: 100%;
  position: fixed; 
  top: -38px;
  z-index: 999999;
  background: #FFF;
}
.scroll-header .logo{
    width: 60px;
    height: 67px;
    padding-top: 34px;
}
.mobile-header{
    display: none;
}
/* ========================
Hero Section
============================*/

/* ========================
Description Section
============================*/
.description{
    background-color: #D4F0D4;
    padding: 151px 0px 54px 0px;
}
.description h1{
    font-weight: 250;
    font-size: 45px;
}
.description p{
    margin-top: 21px;
    font-size: 16px;
    line-height: 24px;
}
.description .my-btn{
    margin-top: 28px;
    cursor: pointer;
    width: 178px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 60px;
    background-color:#3468C0;
    color: #fff;
    transition:.5s ease;
    margin-left: 2px;
}
.description .my-btn:hover{
    transform: scale(1.02) translateY(-0.3rem);
background-color: #fff;
border: 1px solid #3468C0;
color: #3468C0;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}
/* ========================
News Section
============================*/
.newses{
  padding: 86px 0px 25px 0px;  
}
.newses .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newses .header .title{
    font-weight: 250;
    font-size: 45px;
    color: #141515;
}
.newses .header .right{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.newses .header .content{
    font-weight: 700;
    font-size: 12px;
    color:#3C3C3C;
    margin-right: 28px;
}
.newses .header img{
    width: 14px;
    height: 8px;
}
.newses .news{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.newses .news .item{
width: 388px;
transition:.3s ease;
}
.newses .news .item:hover{
    transform: scale(1.02) translateY(-0.3rem);
}
.newses .news .item img{
    width: 100%;
    height: 228px;
}
.newses .news .item .date{
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #808287;
}
.newses .news .item .txt{
  margin-top: 5px;
  height: 102px;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;  
  color: #141515;
}
.newses .news .item .foot{
    margin-top: 31px;
    display: flex;
    align-items: center;
}
.newses .news .item .foot div{
    font-size: 14px;
    font-weight: 700;
    line-height: 18.23px;
    letter-spacing: 0.1em;
    color: #3468C0;
    margin-right: 20px;
    cursor: pointer;
}
.newses .news .item .foot img{
   width: 16px;
   height: 16px;
}
/* ========================
Gallery Section
============================*/
.gallery{
    display: flex;
    justify-content: space-between;
    padding:200px 0 102px 0px;
}
.gallery .left{
    width: 525px;
}
.gallery .left .txt{
font-size: 46px;
font-weight: 250;
line-height: 62px;
color: #141515;
}
.gallery .left p{
margin-top: 38px;
font-size: 18px;
font-weight: 300;
line-height: 24px;
color: #3C3C3C;
}
.gallery .left a{
    margin-top: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 55px;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #FFF;
    background-color: #3468C0;
    transition:.3s ease;
    margin-left: 2px;
}
.gallery .left a:hover{

    transform: scale(1.02) translateY(-0.3rem);
    background-color: #FFF;
    border: 1px solid #3468C0;
    color: #3468C0;
}
.gallery .right{
    position: relative;
    /* padding-top: 200px; */
    /* background: url('../images/basemap.png'); */
    /* background: red; */
}
.gallery .right .img{
    width: 421px;
    height: 504px;
    margin-right:140px;
}
.gallery .right .img img{
    width: 100%;
    height: 100%;
    transition:.3s ease;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.gallery .right .img img:hover{
    transform: scale(1.02) translateY(-0.3rem);
}
.gallery .right .child{
    width: 246px;
    height: 358px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition:.3s ease;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.gallery .right .child:hover{
    transform: scale(1.02) translateY(-52%);
}
.gallery-parent{
    position: relative;
}
.gallery-parent .rainbow-right{
    position: absolute;
    top:0px;
    right: 0;
    width: 489px;
    height: 581px;
    z-index: -10;
}
.gallery-parent .rainbow-left{
    position: absolute;
    top:0px;
    left: 0;
    width: 194px;
    height: 391px;
    z-index: -10;
}
/* ========================
Map Section
============================*/

    .map img {
        width: 100%;
        height: auto;
        border-top-left-radius: 100px;
    }
/* ========================
Footer Section
============================*/
.footer{
    margin-top: -6px;
    position: relative;
    background-color: #D4F0D4;
    padding: 80px 0px 36px 0px;
}
.footer .footer-top{
    display: flex;
    justify-content: space-between;
}
.footer .footer-top .first-item{
    width: 283px;
}
.footer .first-item h1{
font-size: 22px;
font-weight: 400;
line-height: 34px;
color: #141515;
}

.footer .first-item .address{
margin-top: 20px;
font-size: 16px;
font-weight: 300;
line-height: 23px;
text-align: left;
color: #3C3C3C;
}
.footer .second-item{
    width:232px;
}
.footer .second-item h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
    
}
.footer .second-item .border,.footer .third-item .border,.footer .fourth-item .border{
   margin-top: 20px; 
   width: 75px;
   height: 2px;
   background-color: #3468C0;
}
.footer .second-item .time-table{
    margin-top: 18px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 5px;
}
.footer .second-item .item p{
    font-weight: 300;
    font-size: 16px;
    color: #141515;
    margin-bottom: 5px;
}
.footer .third-item{
    width: 223px;
}
.footer .third-item h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
     color: #141515;
}
.footer .third-item ul{
    margin-top: 18px;
}
.footer .third-item ul li{
  cursor: pointer;
font-size: 16px;
font-weight: 300;
line-height: 23px;
color: #3C3C3C;
padding: 3px 0px;
}
.footer .fourth-item{
   width: 308px;
}
.footer .fourth-item h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
     color: #141515;
}
.footer .fourth-item .txt{
  margin-top: 18px;
font-size: 16px;
font-weight: 300;
line-height: 23px;

}
.footer .fourth-item .vert{
 margin-top: 19px;
 display: flex;
 align-items: center;
 cursor: pointer;
}
.footer .fourth-item .vert span{
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.12em;
    margin-right: 28px;
}
.footer .fourth-item .vert img{
 width: 16px;
 height: 16px;
}
.footer .fourth-item .fb img{
  margin-top: 27px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer .footer-bottom{
    margin-top: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-bottom p{
font-size: 14px;
font-weight: 400;
line-height: 20px;
color: #808287;
}
.footer .footer-rainbow{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 285px;
}



/***************************
            HERO SECTION
****************************/


.my-header a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

.my-header .slider {
    position: relative;
    width: 100%;
    height: 500px;
}

.my-header ul{
    padding:0;
    margin:0;
}


.my-header .slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: clip .7s ease-in-out, z-index 0s .7s;
    clip: rect(0, 100vw, 100vh, 100vw);
    display:flex;
    align-items:center;
    justify-content:left;
    border-top-right-radius: 100px;
}

.my-header .slider li:nth-child(1){
    background:linear-gradient(to right, rgba(1,1,1,0.6) 10%, rgba(1,1,1,0.2) 51%, rgba(1,1,1,0.01) 100%), url("../images/slide.png");
    background-size: cover;
    background-position:top left;
}


.my-header .slider li:nth-child(2){
    background:linear-gradient(to right, rgba(1,1,1,.7) 10%, rgba(1,1,1,0.3) 51%, rgba(1,1,1,0.01) 100%), url("../images/slide2.jpg");
    background-size: cover;
    background-position:top left;
}

.my-header .slider li:nth-child(3){
    background:linear-gradient(to right, rgba(1,1,1,.7) 10%, rgba(1,1,1,0.3) 51%, rgba(1,1,1,0.01) 100%), url("../images/slide3.jpg");
    background-size: cover;
    background-position:top left;
}

.my-header .slider li:before{
    transition: 0.5s;
    top:-250px !important;
}

.my-header li.current:before{
    transition-delay: 1s;
    transform: rotate(-90deg);
    top:-20px !important;
}

.my-header li.current {
    z-index: 1;
    clip: rect(0, 100vw, 100vh, 0);
}

.my-header li.prev {
    clip: rect(0, 0, 100vh, 0);
}

.my-header .slider aside {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    text-align: center;
    z-index: 10;
}

.my-header .slider aside a {
    display: inline-block;
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    background-color: var(--white);
    margin: 0 0.2rem;
    transition: transform .3s;
}

.my-header a.current_dot {
    transform: scale(1.4);
    background:var(--primary) !important;
}

@media screen and (max-width: 920px) {
    .my-header{
        height:70vh;
        position:relative;
    }
    
    .my-header .slider{
        height:70vh;
    }
    
    
    .my-header .slider li:nth-child(2){
        background-position:top center;
    }
    
    .my-header .slider li:nth-child(3){
        background-position:top center;
    }
    
    .my-header li.current:before{
        top:-30px;
        right:-10px;
    }
} 
.hero{
    position: relative;
}
.hero .mid-card{
    width: 315px;
    height: 256px;
    padding: 24px 32px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
    background-color: #FFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* animation-name: example;
    animation-duration: 4s;
    opacity: 1;
    transition-timing-function: ease-in; */
    transition:.3s ease;
}
.hero .mid-card:hover{
    transform: scale(1.02) translateY(-51%); 
}
@keyframes example {
    0%   {opacity: 0;left: 0;}
    25%   {opacity: 0.2;left: 25%;}
    50%   {opacity: 0.3;left: 50%;}
    75%   {opacity: 0.5;left: 75%;}
    100%   {opacity: 1;right:0;}
  }

/***** Global Slide *****/
.slide-right, .slide-left {
    width: 100%;
  }
  
  /***** Slide Right *****/
  .slide-right {
    animation: 3s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  /***** Slide Left *****/
  .slide-left {
    animation: 3s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  

  .fade-in {
    animation: fadeIn ease 3s;
  }
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }


.hero .second-item h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
    
}
.hero .second-item .border{
   margin-top: 15px; 
   width: 75px;
   height: 2px;
   background-color: #3468C0;
}
.hero .second-item .time-table{
    margin-top: 12px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 4px;
}
.hero .second-item .item p{
    font-weight: 300;
    font-size: 16px;
    color: #141515;
    margin-bottom: 5px;
}
.hero-card{
    background-color: #D4F0D4;
}
.hero-card .items{
    margin-top: -84px;
    display: flex;
    /* justify-content: space-between; */
    z-index: 9999;
    position: absolute;
    /* width: 97%; */
}
.hero-card .items .item{
    width: 178px;
    height: 169px;
    padding:20px 28px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #FFF;
    z-index: 9999;
    margin-right: 30px;
    transition:.3s ease;
}
.hero-card .items .item:hover{
    transform: scale(1.02) translateY(-0.3rem);
}
.hero-card .items .item img{
    width: 37px;
    /* height: 30px; */
}
.hero-card .items .item p{
  margin-top: 10px; 
font-size: 18px;
font-weight: 300;
line-height: 22px;
letter-spacing: 0.04em;
 color: #141515;
}
.mobile-right{
    display: none;
}
@media (max-width: 990px) {
    .container{
        width: 100% !important;
        padding:0 10px;
    }
.my-header{
    height: auto;
}
.header-top ul li {
    font-size: 9px;
    margin-right: 5px;  
}
.header-bottom .navs .bottom ul li {
    margin-left: 1px;
}
.header-bottom .logo {
    width: 40px;
    height: 40px;
}
.header-bottom .navs .bottom ul li a {
    font-size: 9px;
}
.header-bottom .navs .top ul li a {
    font-size: 11px;
}
.header-bottom .navs .top ul li img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}
.header-bottom .navs .search {
    margin-right: 8px;
}
 .my-header .slider {
    height: 240px;
}  
.my-header .slider li{
    border-top-right-radius: 15px;
}
.hero .mid-card {
    width: 176px;
    height: 146px;
    padding: 6px 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.hero .second-item .time-table {
    margin-top: 5px;
    row-gap: 2px;
}
.hero .second-item .item p{
    font-size: 11px;
    margin-bottom: 1px;
}
.hero .second-item h1{
    font-size: 15px;
}
.hero .second-item .border{
    margin-top: 2px;
}
.hero-card .items .item {
    width: 99px;
    height: 87px;
    padding: 5px 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 9999;
    margin-right: 11px;
}
.hero-card .items .item img {
    width: 20px;
    height: 20px;
}
.hero-card .items .item p {
    margin-top: 6px;
    font-size: 12px;
    font-weight: 300;
    line-height: 11px;
}
.hero-card .items {
    margin-top: -38px;
}
.scroll-header {
    top: -31px;
}
.scroll-header .logo{
    width:auto;
    height:auto;
    padding-top:10px;
}
.scroll-header .logo img{
    width: 26px;
    height: 26px;
    margin-top: 17px;
}
.description {
    padding: 44px 0px 13px 0px;
}
.description h1 {
    font-size: 25px;
    margin-top: 30px;
}
.description p {
    margin-top: 13px;
    font-size: 12px;
    line-height: 17px;
}
.description .my-btn {
    margin-top: 14px;
    cursor: pointer;
    width: 87px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: 700;
    border-radius: 45px;
}
.newses {
    padding: 10px 0px 10px 0px;
}
.newses .header .title {
    font-size: 22px;
}
.newses .news{
    margin-top: 10px;
    /* display: block; */
}
.newses .news .item {
    width: 200px;
    margin-bottom: 0px;
}

.newses .header .content {
    font-size: 10px;
    margin-right: 12px;
}
.newses .news .item .txt {
    height: auto;
    font-size: 19px;
    line-height: 27px;
}
.gallery {
    /* display: block; */
    padding: 100px 0 50px 0px;
}
.gallery .left .txt {
    font-size: 30px;
    line-height: 30px;
}
.gallery .left p {
    margin-top: 0px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.gallery .left a{
margin-top: 20px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
width: 118px;
height: 41px;
border-radius: 60px;
font-size: 12px;
font-weight: 700;
}
.gallery .right{
    margin-top: 20px;
}
.gallery .right .img {
    width: 200px;
    height: 268px;
    margin-right: 40px;
}
.gallery .right .child {
    width: 120px;
    height: 179px;
}
.map img {
    height: 250px;
}
.footer {
    padding: 13px 0px 10px 0px;
}
.footer .footer-top{
    /* display: block; */
}
.footer .first-item h1 {
    font-size: 15px;
    line-height: 20px;
}
.footer .first-item .address {
    margin-top: 14px;
    font-size: 10px;
    line-height: 16px;
}
.footer .second-item h1,.footer .third-item h1{
    margin-top: 15px;
}
.gallery-parent .rainbow-right{
    width: 326px;
    height: 437px;
}
.gallery-parent .rainbow-left {
    width: 109px;
        height: 177px;
}
.footer .fourth-item .fb img {
    margin-top: 9px;
}
.footer .footer-bottom {
    margin-top: 45px;
}
.footer .footer-bottom p {
    font-size: 12px;
}
.footer .footer-rainbow{
    height: 80px;
}
.footer .second-item h1 {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0;
}
.footer .second-item .item p{
    font-size: 12px;
}
.footer .third-item ul li {
    cursor: pointer;
    font-size: 11px;
    font-weight: 300;
    line-height: 11px;
}
.footer .fourth-item .txt {
    margin-top: 18px;
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
}
.footer .fourth-item h1 {
    font-size: 14px;
    line-height: 12px;
}
.footer .third-item h1 {
    font-size: 15px;
    margin-top: 0;
}
.footer .footer-top .first-item {
    width: 178px;
}
.footer .second-item {
    width: 203px;
}
.footer .third-item {
    width: 193px;
}
.footer .fourth-item {
    width: 158px;
}
}
@media (max-width: 767px){
    .container {
        width: 100% !important;
        padding: 0 0px;
    }
    .header{
        display: none;
    }
    .my-header .slider {
        height: 300px;
        margin-top: 1px;
    }
    .mobile-header{
        position: fixed;
        z-index: 999999;
        width: 100%;
        padding: 0 15px;
        background-color: #FFF;
        display:flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 3px;
    }
    .mobile-header .mobile-logo{
        padding: 5px 0;
        width: 40px;
        height: 40px;
    }
    .mobile-header .mobile-logo img{
        width: 100%;
        height: 100%;
    }
    .mobile-header ul{
        display: flex;
    }
    .mobile-header ul li{
        cursor: pointer;
        padding: 5px 10px;
        border-right: 1px solid rgba(193, 217, 184, 0.3);

    }
    .mobile-header ul li:last-child{
        padding-top: 10px;
        border-right: none;
    }
    .mobile-header ul li img{
        width: 24px;
        height: 24px;
    }
    .humberger-box {
        width: 21px;
        height: 16px;
        position: relative;
    }
    .humberger-box span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000000;
        opacity: 1;
        left: 0;
    }
    .humberger-box span:nth-child(1) {
        top: 0;
    }
    .humberger-box span:nth-child(2), .humberger-box span:nth-child(3) {
        top: 50%;
    }
    .humberger-box span:nth-child(4) {
        top: 100%;
    }
    .hero .mid-card {
        position: unset;
        width: 240px;
        height: auto;
        padding: 15px 15px;
        transform: none;
        border-radius: 0;
    }
    .hero .second-item h1 {
        font-size: 18px;
    }
    .hero .second-item .border {
        margin-top: 15px;
    }
    .hero .second-item .time-table {
        margin-top: 15px;
        row-gap: 2px;
    }
    .hero .second-item .item p {
        font-size: 13px;
        margin-bottom: 5px;
    }
  
    .hero-card {
        padding: 15px 15px
    }
    .hero-card .items {
        margin-top:0px;
        display: block;
        position: unset;
    }
    .hero-card .items .item {
        width: 100%;
        height: 75px;
        padding: 0px 15px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
    .hero-card .items .item img {
        width: 40px;
        margin-right: 18px;
    }
    .hero-card .items .item p {
        margin-top: 0px;
        font-size: 18px;
        line-height: 20px;
    }
    .description {
        padding: 25px 15px;
    }
    .description h1 {
       font-size: 30px;
       margin-top: 0px;
       text-align: center;
    }
    .description p {
        margin-top: 35px;
        font-size: 16px;
        line-height: 24px;
    }
    .description .my-btn {
        margin-top: 30px;
        cursor: pointer;
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        border-radius: 0px;
    }
    .newses {
        padding: 30px 15px;
    }
    .newses .header {
        display: block;
    }
    .newses .header .title {
        font-size: 30px;
        text-align: center;
    }
    .newses .header .right {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 10px;
    }
    .newses .header .content {
        font-size: 15px;
        margin-right: 14px;
    }
    .newses .header img {
        width: 20px;
        height:auto;
    }
    .newses .news {
        margin-top: 30px;
        display: block;

    }
    .newses .news .item {
        width: 100%;
        margin-bottom: 25px;
    }
    .newses .news .item img {
        width: 100%;
        height: auto;
    }
    .gallery {
        display: block;
        padding: 100px 0px 50px 0px;
    }
    .gallery .left .txt {
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    }
    .gallery .left {
        width: 100%;
        padding: 0px 15px;
    }
    .gallery .left p {
        margin-top: 30px;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
    }
    .gallery .left a {
        margin-top: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 56px;
        border-radius: 0px;
        font-size: 18px;
        font-weight: 500;
    }
    .gallery .right .img {
        width: 100%;
        height: auto;
        margin-right: 0px;
        padding: 0 15px;
    }
    .gallery .right .child {
        width: 100%;
        height: auto;
        position: unset;
        transform: none;
        margin-top: 20px;
        padding: 0 15px;
        border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    }
    .footer {
        padding: 30px 15px;
    }
    .footer .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-top .first-item {
        width: auto;
    }
    .footer .first-item h1 {
        font-size: 18px;
        text-align: center;
    }
    .footer .first-item .address {
        margin-top: 14px;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
    }
    .footer .second-item {
        width: 210px;
        margin-top: 30px;
    }
    .footer .second-item h1 {
        font-size: 18px;
        text-align: center;
    }
    .footer .first-item h1::after,
    .footer .second-item h1::after,
    .footer .third-item h1::after,
    .footer .fourth-item h1::after {
        content: '.';
        display: block;
        height: 4px;
         margin: 0px auto;
        text-indent: -9999px;
        border-bottom: 2px solid #3468C0;
        margin-top: 10px;
    }
    .footer .first-item h1::after{width: 312px;}
    .footer .second-item h1::after{width: 120px;}
    .footer .third-item h1::after{width: 110px;}
    .footer .fourth-item h1::after{width: 240px;}
    .footer .border{
        display: none;
    }
   
    .footer .second-item .item p {
        font-size: 14px;
    }
    .footer .third-item {
        width: auto;
        margin-top: 30px;
    }
    .footer .third-item h1 {
        font-size: 18px;
        text-align: center;
    }
    .footer .third-item ul li {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    text-align: center;
    }
    .footer .fourth-item {
        width: auto;
        margin-top: 30px;
    }
    .footer .fourth-item h1 {
        font-size: 18px;
        line-height: 12px;
        text-align: center;
    }
    .footer .fourth-item .txt {
    font-size: 14px;
    }
.footer .fourth-item .vert {
    margin-top: 30px;
    justify-content: center;
}
.footer .fourth-item .vert span {
    font-size: 14px;
}
.footer .fourth-item .fb{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.footer .footer-bottom {
    flex-direction: column;
    align-items: center;
}





    .container-max{
        position: relative;;
    }
    .container-max .mobile-left{
        width: 100%;
        position: absolute;
        left: -75%;
        overflow-y: hidden !important;
    }
    .container-max .mobile-right{
        display: block;
        width:75%;
        position: fixed;
        top: 0;
        right: 0;
    }
   .container-max .humberger-box span:nth-child(1) {
    top: 50%;
    width: 0%;
    left: 50%;
    }
   .container-max .humberger-box span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container-max .humberger-box span:nth-child(3){
    -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
.container-max .humberger-box span:nth-child(4) {
    top: 50%;
    width: 0%;
    left: 50%;
    }
    .container-max .m-nav{
        background-color: #3468C0;
    }
    .container-max .m-nav ul{
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
    }
    .container-max .m-nav ul li{
        border-right: 1px solid #FFF;
        padding: 9px 0px;
        width: -webkit-fill-available;
        text-align: center;
    }
    .container-max .m-nav ul li i{
      color: #FFF;
      font-size: 20px;
    }
    .container-max .m-menu{
        background-color: #FFF;
        /* padding: 10px 0px; */
    }
   
   
    .container-max{}
    

/* Core styles/functionality */
.tab {
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
    background-color: #3468C0;
  }
  .tab__content ul li{
    padding: 10px 15px;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
  }
  .tab input:checked ~ .tab__content {
    max-height: 10rem;

  }
  
  /* Visual styles */
  .accordion {
    overflow: hidden;
  }
  .tab__label,
  .tab__close {
    display: flex;
    cursor: pointer;
  }
  .tab__label{
    justify-content: space-between;
    padding: 1rem;
  }
  .tab__label2{
    padding: 10px 12px;
  }
  
  .tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
    border-bottom: 1px solid #141515;
     padding-bottom: 8px;
  }
  .tab2 .tab__label::after {
    content: "";
    border-bottom:none;
    padding-bottom: 0px;
  }
  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
    border-top: 1px solid #141515;
    padding-top: 8px;
    border-bottom:none;
    padding-bottom: 0px;
  }
  .tab__content p {
    margin: 0;
    padding: 1rem;
  }
  .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  
  /* Arrow animation */
  .tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
  }
  @keyframes bounce {
    25% {
      transform: rotate(90deg) translate(.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-.25rem);
    }
  }
  
  .gallery .right .img img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.map img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0px;
}
.gallery .right .child:hover {
    transform:  none;
}
}

@media (max-width: 580px) {
 
}
@media (max-width: 450px) {
 
}