/* ========================
Custom Css
@author: Nurislam Mridha
============================*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ========================
Common Style
============================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {}
  a,
  a:hover,
  a:focus,
  a:active {
      text-decoration: none;
      outline: none;
  }
  
  a,
  a:active,
  a:focus {
      color: #333;
      text-decoration: none;
      transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-duration: .2s;
      -ms-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -o-transition-duration: .2s;
  }
  
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  img {
  max-width: 100%;
  height: auto;
  }
.container{
    width: 1230px;
    margin: auto;
    overflow: hidden;
}
  /* .cd{
    background-color: red;
  }
  .ts{
    background-color: aqua;
  } */
/* ========================
Header Section
============================*/
.header-top{
    background-color: #D4F0D4;
}
.header-top ul{
    display: flex;
    padding: 10px 0;
}
.header-top ul li{
    cursor: pointer;
    font-size: 16px;
    margin-right: 16px;

}
.header-bottom{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
}
.header-bottom .logo{
    width: 97px;
    height: 93.44px;
}
.header-bottom .logo img{
    width: 100%;
    height: 100%;
}
.header-bottom .navs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-bottom .navs .top{
    /* background-color: red; */
}
.header-bottom .navs .top ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-bottom .navs .top ul li{
   cursor: pointer;
   margin-right: 18px;
}
.header-bottom .navs .top ul li a{
    font-size: 16px;
}
.header-bottom .navs .top ul li img{
    width: 22px;
    height: 22px;
    margin-left: 8px;
}
.header-bottom .navs .search{
    margin-right: 18px;
}
.header-bottom .navs .bottom{
    /* background-color: aqua; */
    /* margin-top: 33px; */
}
.header-bottom .navs .bottom ul{
    display: flex;
    align-items: center;
}
.header-bottom .navs .bottom ul li{
    margin-left: 41px;
    cursor: pointer;
}
.header-bottom .navs .bottom ul li a{
    font-size: 18px;
}
/* ========================
Hero Section
============================*/

/* ========================
Description Section
============================*/
.description{
    background-color: #D4F0D4;
    padding: 151px 0px 54px 0px;
}
.description h1{
    font-weight: 250;
    font-size: 45px;
}
.description p{
    margin-top: 21px;
    font-size: 16px;
    line-height: 24px;
}
.description .my-btn{
    margin-top: 28px;
    cursor: pointer;
    width: 178px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 60px;
    background-color:#3468C0;
    color: #fff;
}
/* ========================
News Section
============================*/
.newses{
  padding: 86px 0px 25px 0px;  
}
.newses .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newses .header .title{
    font-weight: 250;
    font-size: 45px;
    color: #141515;
}
.newses .header .right{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.newses .header .content{
    font-weight: 700;
    font-size: 12px;
    color:#3C3C3C;
    margin-right: 28px;
}
.newses .header img{
    width: 14px;
    height: 8px;
}
.newses .news{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.newses .news .item{
width: 388px;
}
.newses .news .item img{
    width: 100%;
    height: 228px;
}
.newses .news .item .date{
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #808287;
}
.newses .news .item .txt{
  margin-top: 5px;
  height: 102px;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;  
  color: #141515;
}
.newses .news .item .foot{
    margin-top: 31px;
    display: flex;
    align-items: center;
}
.newses .news .item .foot div{
    font-size: 14px;
    font-weight: 700;
    line-height: 18.23px;
    letter-spacing: 0.1em;
    color: #3468C0;
    margin-right: 20px;
    cursor: pointer;
}
.newses .news .item .foot img{
   width: 16px;
   height: 16px;
}
/* ========================
Gallery Section
============================*/
.gallery{
    display: flex;
    justify-content: space-between;
    padding: 102px 0px;
}
.gallery .left{
    width: 525px;
}
.gallery .left .txt{
font-size: 46px;
font-weight: 250;
line-height: 62px;
color: #141515;
}
.gallery .left p{
margin-top: 38px;
font-size: 18px;
font-weight: 300;
line-height: 24px;
color: #3C3C3C;
}
.gallery .left a{
    margin-top: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 55px;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #FFF;
    background-color: #3468C0;
}
.gallery .right{
    position: relative;
}
.gallery .right .img{
    width: 421px;
    height: 504px;
    margin-right:140px;
}
.gallery .right .img img{
    width: 100%;
    height: 100%;
}
.gallery .right .child{
    width: 246px;
    height: 358px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* ========================
Map Section
============================*/
.map img{
    height: 428px;
}
/* ========================
Footer Section
============================*/
.footer{
    margin-top: -6px;
    position: relative;
    background-color: #D4F0D4;
    padding: 80px 0px 36px 0px;
}
.footer .footer-top{
    display: flex;
    justify-content: space-between;
}
.footer .footer-top .first-item{
    width: 283px;
}
.footer .first-item h1{
font-size: 22px;
font-weight: 400;
line-height: 34px;
color: #141515;
}

.footer .first-item .address{
margin-top: 20px;
font-size: 16px;
font-weight: 300;
line-height: 23px;
text-align: left;
color: #3C3C3C;
}
.footer .second-item{
    width:232px;
}
.footer .second-item h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
    
}
.footer .second-item .border,.footer .third-item .border,.footer .fourth-item .border{
   margin-top: 20px; 
   width: 75px;
   height: 2px;
   background-color: #3468C0;
}
.footer .second-item .time-table{
    margin-top: 18px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 5px;
}
.footer .second-item .item p{
    font-weight: 300;
    font-size: 16px;
    color: #141515;
    margin-bottom: 5px;
}
.footer .third-item{
    width: 223px;
}
.footer .third-item h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
     color: #141515;
}
.footer .third-item ul{
    margin-top: 18px;
}
.footer .third-item ul li{
  cursor: pointer;
font-size: 16px;
font-weight: 300;
line-height: 23px;
color: #3C3C3C;
padding: 3px 0px;
}
.footer .fourth-item{
   width: 308px;
}
.footer .fourth-item h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
     color: #141515;
}
.footer .fourth-item .txt{
  margin-top: 18px;
font-size: 16px;
font-weight: 300;
line-height: 23px;

}
.footer .fourth-item .vert{
 margin-top: 19px;
 display: flex;
 align-items: center;
 cursor: pointer;
}
.footer .fourth-item .vert span{
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.12em;
    margin-right: 28px;
}
.footer .fourth-item .vert img{
 width: 16px;
 height: 16px;
}
.footer .fourth-item .fb img{
  margin-top: 27px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer .footer-bottom{
    margin-top: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-bottom p{
font-size: 14px;
font-weight: 400;
line-height: 20px;
color: #808287;
}
.footer .footer-rainbow{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 285px;
}



/***************************
            HERO SECTION
****************************/


header a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

header .slider {
    position: relative;
    width: 100%;
    height: 500px;
}

header ul{
    padding:0;
    margin:0;
}


header .slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: clip .7s ease-in-out, z-index 0s .7s;
    clip: rect(0, 100vw, 100vh, 100vw);
    display:flex;
    align-items:center;
    justify-content:left;
    border-top-right-radius: 100px;
}

header .slider li:nth-child(1){
    background:linear-gradient(to right, rgba(1,1,1,0.6) 10%, rgba(1,1,1,0.2) 51%, rgba(1,1,1,0.01) 100%), url("../images/slide.png");
    background-size: cover;
    background-position:top left;
}


header .slider li:nth-child(2){
    background:linear-gradient(to right, rgba(1,1,1,.7) 10%, rgba(1,1,1,0.3) 51%, rgba(1,1,1,0.01) 100%), url("../images/slide2.jpg");
    background-size: cover;
    background-position:top left;
}

header .slider li:nth-child(3){
    background:linear-gradient(to right, rgba(1,1,1,.7) 10%, rgba(1,1,1,0.3) 51%, rgba(1,1,1,0.01) 100%), url("../images/slide3.jpg");
    background-size: cover;
    background-position:top left;
}

header .slider li:before{
    transition: 0.5s;
    top:-250px !important;
}

header li.current:before{
    transition-delay: 1s;
    transform: rotate(-90deg);
    top:-20px !important;
}

header li.current {
    z-index: 1;
    clip: rect(0, 100vw, 100vh, 0);
}

header li.prev {
    clip: rect(0, 0, 100vh, 0);
}

header .slider aside {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    text-align: center;
    z-index: 10;
}

header .slider aside a {
    display: inline-block;
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    background-color: var(--white);
    margin: 0 0.2rem;
    transition: transform .3s;
}

header a.current_dot {
    transform: scale(1.4);
    background:var(--primary) !important;
}

@media screen and (max-width: 920px) {
      header{
        height:70vh;
        position:relative;
    }
    
    header .slider{
        height:70vh;
    }
    
    
    header .slider li:nth-child(2){
        background-position:top center;
    }
    
    header .slider li:nth-child(3){
        background-position:top center;
    }
    
    header li.current:before{
        top:-30px;
        right:-10px;
    }
} 
.hero{
    position: relative;
}
.hero .mid-card{
    width: 315px;
    height: 256px;
    padding: 24px 32px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
    background-color: #FFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* animation-name: example;
    animation-duration: 4s;
    opacity: 1;
    transition-timing-function: ease-in; */
}
@keyframes example {
    0%   {opacity: 0;left: 0;}
    25%   {opacity: 0.2;left: 25%;}
    50%   {opacity: 0.3;left: 50%;}
    75%   {opacity: 0.5;left: 75%;}
    100%   {opacity: 1;right:0;}
  }

/***** Global Slide *****/
.slide-right, .slide-left {
    width: 100%;
  }
  
  /***** Slide Right *****/
  .slide-right {
    animation: 3s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  /***** Slide Left *****/
  .slide-left {
    animation: 3s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  

  .fade-in {
    animation: fadeIn ease 3s;
  }
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }


.hero .second-item h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
    
}
.hero .second-item .border{
   margin-top: 15px; 
   width: 75px;
   height: 2px;
   background-color: #3468C0;
}
.hero .second-item .time-table{
    margin-top: 12px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 4px;
}
.hero .second-item .item p{
    font-weight: 300;
    font-size: 16px;
    color: #141515;
    margin-bottom: 5px;
}
.hero-card{
    background-color: #D4F0D4;
}
.hero-card .items{
    margin-top: -84px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    position: absolute;
    width: 97%;
}
.hero-card .items .item{
    width: 178px;
    height: 169px;
    padding:20px 28px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #FFF;
    z-index: 9999;
}
.hero-card .items .item img{
    width: 37px;
    /* height: 30px; */
}
.hero-card .items .item p{
  margin-top: 10px; 
font-size: 18px;
font-weight: 300;
line-height: 22px;
letter-spacing: 0.04em;
 color: #141515;
}
